@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap');

.rancho-font {
  font-family: "Rancho", cursive;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
}

@import "tailwindcss";
@plugin "daisyui";



a.active {
    color: red;
  }
  a.pending {
    color: blue;
  }
 
  .bg-addCoffee{
    background-image: url('bg-addCoffee.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }