@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap');

.raleway-font {
  font-family: "Raleway", sans-serif;
}

.rancho-font {
  font-family: "Rancho", cursive;
}

@import "tailwindcss";
@plugin "daisyui";



a.active {
  color: red;
}

a.pending {
  color: blue;
}

.bg-navbar {
  background-image: url('bg-nav.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-hero {
  background-image: url('bg-hero.jpeg');
  background-size: cover;
  background-attachment: fixed;
}

.bg-addCoffee {
  background-image: url('bg-addCoffee.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.bg-popular-coffee {
  background-image: url('bg-popular-coffee.png');
  background-size: cover;

}

.bg-footer {
  background-image: url('bg-footer.jpg');
  background-size: cover;

}

.bg-footer-bottom {
  background-image: url('bg-footer-bottom.jpg');
  background-size: cover;

}

.text-shadow-primary {
  text-shadow: 0 2px 6px rgba(0, 0, 21, 0.6);
}

.text-shadow-secondary {
  text-shadow: 2px 2px 5px rgba(0, 0, 21, 0.6);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}